@import'./normalize.css';

:root{
    --color-primary: #2584ff;
    --color-primary-hover: #126de4;
    --color-secondary: #00d9ff;
    --color-secondary-hover: #02cdf1;
    --color-heading: #1b0760;
    --color-accent: #ff3400;
    --color-body: #574e73;
    --color-body-darker: #7b858b;
    --color-card-body: #5c5577;
    --color-header: #232323;
    --color-border: #393939;
}

*,*::before,*::after{
    box-sizing: border-box;
}

::selection{
    background: var(--color-primary);
    color: #fff;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2.2rem;
    color: var(--color-body);
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    margin-top: 0;
    margin-bottom: 3rem;
    letter-spacing: 0.5px;
    color: var(--color-heading);
}
h1{
    font-size: 7.0rem;
}
h2{
    font-size: 4.0rem;
}
h3{
    font-size: 3.0rem;
}
p{
    letter-spacing: 0.5px;
    margin: 0;
    line-height: 1.3;
}

@media screen and (min-width:1024px){
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem
    }
    body{
        font-size: 1.8rem;
    }
}

a{
    text-decoration: none;
}

/* Link */

.link-arrow{
    font-size: 2.0rem;
    color: var(--color-accent);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.link-arrow::after{
    content: '-->';
    margin-left: 3px;
    letter-spacing: 0;
}
.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* badge */
.badge{
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #fff;
    font-size: 2.0rem;
    border-radius: 20px;
    font-weight: bold;
}

.badge--secondary{
    background: var(--color-secondary);
}
.badge--primary-darker{
    background: var(--color-primary-hover);
}
.badge--secondary-darker{
    background: var(--color-secondary-hover);
}
.badge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}
@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge-small{
        font-size: 1.2rem;
    }
    
}

/* input */
.input{
    border-radius: 40px;
    color: var(--color-heading);
    font-size: 2.0rem;
    padding:1.5rem 3rem;
    overflow: hidden;
}
::placeholder{
    color: #cdcbd7;
}
.input-group{
    border: 1px solid var(--color-border);
    border-radius: 40px;
    display: flex;
    
}
.input-group .input{
    flex-grow: 1;
    border: none;
    outline: 0;
    padding-right: 10px
}
.input-group .btn{
    margin:4px;
}
.input-group--box-shadow{
    box-shadow:  0 0 20px 10px #dcdbdb;
    border: none;
}
/* Icon */
.icon{
    height: 40px;
    width: 40px;
}
.icon--primary{
    fill: var(--color-primary);
}
.icon--white{
    fill: #fff;
}
.icon-container{
    height: 60px;
    width: 60px;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon-container--accent{
    background: var(--color-accent);
}

/* button */
.btn{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1.8rem 6vw;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background 0.2s;
    margin: 1rem 0;
}
.btn--accent{
    background-color: var(--color-accent);
    color: #fff;
}
.btn--accent:hover{
    background: #ec3000;
}
.btn--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.btn--secondary:hover{
    background: var(--color-secondary-hover);
}
.btn--white{
    background: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}
.btn--white:hover{
    color:#fff;
    background: var(--color-heading);
}
.btn--starched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn .icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.btn--block{
    display: block;
    width: 100%;
}

@media screen and (min-width:1024px) {
    .btn{
        font-size: 1.5rem;
    }
}

/* List */
.list{
    list-style: none;
    letter-spacing: 1px;
    font-size: 2.4rem;
    padding-left:0;
    color: var(--color-heading);
}
.list--inline .list__item{
    display: inline-block;
    font-weight: bold;
    padding-right: 3rem;
}
.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 3rem;
}

@media screen and (min-width:1024px) {
    .list{
        font-size: 1.8rem;
    }
    .list--tick .list__item{
        padding-left: 0;
    }
}

/* Card */
.card{
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #f3f3f3;
    max-width: 60px;
}
.card__header, .card__body{
    padding: 2rem 2.5rem;
    letter-spacing: 0.5px;
    
}

.card--secondary .card__header{
    background: var(--color-secondary);
    color: #fff;
}
.card--primary .card__header{
    background: var(--color-primary);
    color: #fff;
}

/* Card Plan */
.plan__name{
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 400;
}
.plan__price{
    font-size: 6.0rem;
    font-weight: 400;
}
.plan__billing-cycle{
    margin-left: 5px;
    font-weight: 200;
    opacity: 0.8;
}
.plan .badge{
    margin-left: 0.5rem;
    vertical-align:text-bottom;
    font-weight: 500;
    font-size: 1.4rem;
}
.plan__discription{
    font-size: 2.0rem;
    font-weight: 400;
    padding-top: 1.5rem;
    display: block;
}
.card__body .btn{
    margin-top: 6rem;
}
.plan--popular .card__header{
    position: relative;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}


@media screen and (min-width: 1024px) {
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__prise{
        font-size: 5.0rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
    .plan__discription{
        font-size: 1.7rem;
    }   
}

/* collapsible */
.collapsible__header{
    display: flex;
    justify-content: space-between;
}
.collapsible__chevron{
    transform: rotate(-90deg);
}
.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
}

/* nav */
.nav{
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.nav__brand{
    transform: translateY(3px);
}
.nav__brand > img{
    height: 5rem;
}
.nav__list{
    width: 100%;
}
.nav__item{
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 0.5rem;
}
.nav__item:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
.nav__item >a,
.nav__toggler{
    color: #fff;
    margin: 0 2rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.nav__item >a:hover,
.nav__toggler:hover{
    opacity: 1;
}
.collapsible--expanded .nav__toggler{
    box-shadow: 0 0 0 3px #7b8587;
    border-radius: 5px;
}
.nav__toggler{
    transition: all 0.3s;
}
@media screen and (min-width:771px) {
    .nav__toggler{
        display: none;
    }
   .nav__list{
        width: auto;
        display: flex;
        max-height: 100vh;
        opacity: 1;
   }
   .nav__item{
    font-size: 1.8rem;
    border-bottom: 0;
   }
   .nav__brand{
    transform: translateY(-5px);
   }
}

/* Media */
.media{
    display: flex;
    margin: 0 1rem;
    margin-bottom: 6rem;
}
.media__image{
    margin-top: 1rem;
}
.media__body{
    margin: 0 2rem;
    font-size: 2.0rem;
}
.media__title{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    
}

/* quotes */
.quote__text{
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.3;
}
.quote__text::before{
    content: open-quote;
}
.quote__text::after{
    content: close-quote;
}
.quote .media{
    margin-top: 3rem;
}
.quote__line{
    position: relative;
    bottom: 15px;
}
.quote__author{
    font-size: 3.0rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 7px;
}
.quote__company{
    font-size: 2.0rem;
    letter-spacing: 1px;
    opacity: 0.6;
    color: var(--color-body);
}

@media screen and (min-width: 1024px) {
    .quote__text, .quote__author{
        font-size: 2.4rem;
    }
    .quote__company{
        font-size: 1.6rem;
    }
}

/* testimonial */
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  0 0 30px 10px #dcdbdb;
    border-radius: 8px;
}

.testimonial__image > .icon-container{
    position: absolute;
    top: 3rem;
    right: -30px;
}
.testimonial__image > .icon-container >.icon{
    width: 35px;
}
.testimonial__image{
    margin: 3rem 5rem;
    position: relative;
}
.testimonial__image > img{
    width: 100%;
}

@media screen and (min-width: 771px) {
    .testimonial .quote__text,
    .testimonial .quote__author{
        font-size: 2.2rem;
    }
    .testimonial .quote{
        margin-left: 5rem;
    }
    .testimonial{
        flex-direction: row;
        padding:1rem 2rem;
    }
    .testimonial__description{
        margin-top: 3rem;
    }
    .testimonial__image{
       margin: 0;
    }
}

/* Grid */
.grid{
    display: grid;
}
@media screen and (min-width: 771px) {
    .grid--1x2{
        grid-template-columns: repeat(2,1fr);
}
}
@media screen and (min-width: 1024px) {
    .grid--1x3{
        grid-template-columns: repeat(3,1fr);
    }
}

/* Callout */
.callout{
    padding: 4rem;
    border-radius: 5px;
}
.callout--primary{
    background: var(--color-primary);
}
.callout__header{
    color: #fff;
    text-align: center;
}
.callout__header h2{
    color: #fff;
    font-size: 4.0rem;
    margin-bottom: 2rem;
}
.callout .btn{
    justify-self: center;
    align-self: center;
    padding: 2rem 6rem;
    margin-top: 3rem;
}

@media screen and (min-width: 771px) {

    .callout__header{
        text-align: left;
    }
    .callout .btn{
        justify-self: start;
        margin-left: 3rem;
    }
    .callout .grid--1x2{
        grid-template-columns: 1fr auto;
    }
}

/* block */
.block--black{
    background: #000;
    color: #fff;
}
.block--screw-left{
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    padding-bottom: 3rem;
}
.block--screw-right{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
    padding-bottom: 3rem;
}
.block__header{
    text-align: center;
}
.block__heading{
    font-weight: 600;
    margin-bottom: 2rem;
}
.block--black .block__heading{
    color: #fff;
}
.block__header .btn{
    margin-top: 4rem;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}


@media screen and (min-width: 1140px) {
    .block__header{
        text-align: start;
    }
    .block--screw-left{
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }
    .block--screw-right{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
    }
}

/* hero */
.hero .block__heading{
    margin-top: 4rem;
}
.hero .block__header > p{
    font-weight: 300;
    opacity: 0.8;
}
.hero .block__header{
    align-self: center;
}
.hero__image{
    width: 100%;
}

/* Domain */
.Domain{
    margin: 0 1rem;
}
.Domain__content{
    text-align: center;
}
.Domain__input{
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Plan Crads */
.planCards__header .list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,6rem);
    font-size: 2.0rem;
}
.planCards__header .list__item{
    padding-right: 0;
    justify-self: center;
    align-self: center;
}
.planCards__body .card{
    max-width: 500px;
    margin: 0 auto;
    /* margin-top: 4rem; */
}

.planCards__body{
    gap: 5rem;
}


@media screen and (max-width: 460px) {
    .planCards__header .list{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,6rem);
    }
}
@media screen and (min-width: 1024px) {
    .planCards__header .list{
        grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
        font-size: 1.8rem;
    }
    .planCards__header .list .badge{
        font-size: 1.8rem;
    }
}

/* Detail */
.detail__item{
    margin-bottom: 5rem;
}
.detail__discription{
    flex-direction: column;
}
.detail__discription .media__image{
    margin-bottom: 1.5rem;
}
.detail__discription .media__body{
    margin: 0;
}
.detail__discription .media__text {
    line-height: 1.6;
    margin-bottom: 2rem;
}
.detail__image{
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
}

@media screen and (min-width: 771px) {
    .detail__item:nth-of-type(even) .detail__discription{
        order: 2;
    }
}

/* ShowCase */

.showcase h2{
    color: #fff;
}
.showcase__title{
    text-align: center;
    padding-top: 8rem;
}
.showcase__discription{
    display: flex;
    flex-direction: column;
    color: var(--color-body-darker);
}
.showcase__image > img{
    width:100%;
}


@media screen and (min-width: 771px){
    .showcase .grid--1x2{
        grid-template-columns: 50% 50%;
    }
    .showcase__image{
        justify-self: end;
    }
    .showcase__image > img{
        max-width: 700px;
        width: auto;
    }
}

/* testimonialPart */
.testimonialPart{
    margin-top: 5rem;
}
.testimonialPart__header{
    text-align: center;
}
.testimonialPart__body{
    margin-top: 5rem;
}