@import'./normalize.css';

:root{
    --color-primary: #2584ff;
    --color-primary-hover: #126de4;
    --color-secondary: #00d9ff;
    --color-secondary-hover: #02cdf1;
    --color-heading: #1b0760;
    --color-accent: #ff3400;
    --color-body: #574e73;
    --color-card-body: #5c5577;
    --color-header: #232323;
    --color-border: #393939;
}

*,*::before,*::after{
    box-sizing: border-box;
}

::selection{
    background: var(--color-primary);
    color: #fff;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2.2rem;
    color: var(--color-body);
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    margin-bottom: 3rem;
    letter-spacing: 0.5px;
    color: var(--color-heading);
}
h1{
    font-size: 7.0rem;
}
h2{
    font-size: 4.0rem;
}
h3{
    font-size: 3.0rem;
}
p{
    letter-spacing: 0.5px;
    margin: 0;
}

@media screen and (min-width:1024px){
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem
    }
    body{
        font-size: 1.8rem;
    }
}

a{
    text-decoration: none;
}

/* Link */

.link-arrow{
    font-size: 2.0rem;
    color: var(--color-accent);
    font-weight: bold;
    text-transform: uppercase;
}
.link-arrow::after{
    content: '-->';
    margin-left: 3px;
}
.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* badge */
.badge{
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #fff;
    font-size: 2.0rem;
    border-radius: 20px;
    font-weight: bold;
}

.badge-secondary{
    background: var(--color-secondary);
}
.badge-primary-darker{
    background: var(--color-primary-hover);
}
.badge-secondary-darker{
    background: var(--color-secondary-hover);
}
.badge-small{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}
@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge-small{
        font-size: 1.2rem;
    }
    
}





