@import'./normalize.css';

:root{
    --color-primary: #2584ff;
    --color-primary-hover: #126de4;
    --color-secondary: #00d9ff;
    --color-secondary-hover: #02cdf1;
    --color-heading: #1b0760;
    --color-accent: #ff3400;
    --color-body: #574e73;
    --color-card-body: #5c5577;
    --color-header: #232323;
    --color-border: #393939;
}

*,*::before,*::after{
    box-sizing: border-box;
}

::selection{
    background: var(--color-primary);
    color: #fff;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2.2rem;
    color: var(--color-body);
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    margin-top: 0;
    margin-bottom: 3rem;
    letter-spacing: 0.5px;
    color: var(--color-heading);
}
h1{
    font-size: 7.0rem;
}
h2{
    font-size: 4.0rem;
}
h3{
    font-size: 3.0rem;
}
p{
    letter-spacing: 0.5px;
    margin: 0;
}

@media screen and (min-width:1024px){
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem
    }
    body{
        font-size: 1.8rem;
    }
}

a{
    text-decoration: none;
}

/* Link */

.link-arrow{
    font-size: 2.0rem;
    color: var(--color-accent);
    font-weight: bold;
    text-transform: uppercase;
}
.link-arrow::after{
    content: '-->';
    margin-left: 3px;
}
.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* badge */
.badge{
    display: inline-block;
    padding: 0.5rem 2rem;
    color: #fff;
    font-size: 2.0rem;
    border-radius: 20px;
    font-weight: bold;
}

.badge-secondary{
    background: var(--color-secondary);
}
.badge-primary-darker{
    background: var(--color-primary-hover);
}
.badge-secondary-darker{
    background: var(--color-secondary-hover);
}
.badge-small{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
}
@media screen and (min-width: 1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge-small{
        font-size: 1.2rem;
    }
    
}

/* input */
.input{
    border-radius: 40px;
    color: var(--color-heading);
    font-size: 2.0rem;
    padding:1.5rem 3rem;
}
::placeholder{
    color: #cdcbd7;
}
.input-group{
    border: 1px solid var(--color-border);
    border-radius: 40px;
    display: flex;
}
.input-group .input{
    flex-grow: 1;
    border: none;
    outline: 0;
    padding-right: 10px
}
.input-group .btn{
    margin:4px;
}
.input-group--box-shadow{
    box-shadow:  0 0 20px 10px #dcdbdb;
    border: none;
}
/* Icon */
.icon{
    height: 40px;
    width: 40px;
}
.icon--primary{
    fill: var(--color-primary);
}
.icon--white{
    fill: #fff;
}
.icon-container{
    height: 60px;
    width: 60px;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon-container--accent{
    background: var(--color-accent);
}

/* button */
.btn{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1.5rem 6vw;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background 0.2s;
    margin: 1rem 0;
}
.btn--accent{
    background-color: var(--color-accent);
    color: #fff;
}
.btn--accent:hover{
    background: #ec3000;
}
.btn--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.btn--secondary:hover{
    background: var(--color-secondary-hover);
}
.btn--white{
    background: #fff;
    color: var(--color-heading);
    border: 2px solid var(--color-heading);
}
.btn--white:hover{
    color:#fff;
    background: var(--color-heading);
}
.btn--starched{
    padding-left: 6rem;
    padding-right: 6rem;
}
.btn .icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.btn--block{
    display: block;
    width: 100%;
}

@media screen and (min-width:1024px) {
    .btn{
        font-size: 1.5rem;
    }
}

/* List */
.list{
    list-style: none;
    letter-spacing: 1px;
    font-size: 2.4rem;
    padding-left:0;
    color: var(--color-heading);
}
.list--inline .list__item{
    display: inline-block;
    font-weight: bold;
    padding-right: 3rem;
}
.list--tick{
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}
.list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 3rem;
}

@media screen and (min-width:1024px) {
    .list{
        font-size: 1.8rem;
    }
    .list--tick .list__item{
        padding-left: 0;
    }
}

/* Card */
.card{
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #f3f3f3;
}
.card__header, .card__body{
    padding: 2rem 2.5rem;
    letter-spacing: 0.5px;
    
}

.card--secondary .card__header{
    background: var(--color-secondary);
    color: #fff;
}
.card--primary .card__header{
    background: var(--color-primary);
    color: #fff;
}

/* Card Plan */
.plan__name{
    font-size: 2.4rem;
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 400;
}
.plan__price{
    font-size: 6.0rem;
    font-weight: 200;
}
.plan__billing-cycle{
    margin-left: 5px;
    font-weight: 200;
    opacity: 0.8;
}
.plan .badge{
    margin-left: 2rem;
    vertical-align:text-bottom;
}
.plan__discription{
    font-size: 2.0rem;
    font-weight: 300;
    padding-top: 1.5rem;
    display: block;
}
.card__body .btn{
    margin-top: 6rem;
}
.plan--popular .card__header{
    position: relative;
}
.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}


@media screen and (min-width: 1024px) {
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__prise{
        font-size: 5.0rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
    .plan__discription{
        font-size: 1.7rem;
    }   
    .plan--popular{
        transform: scale(1.1);
    }
}

/* nav */
.nav{
    background: var(--color-header);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    padding-top: 1rem;
}
.nav__taggler{
    justify-self: center;
    align-self: center;
    cursor: pointer;
    opacity: 0.8;
}
.nav__taggler:hover{
    opacity: 1;
}
.nav__list{
    width: 100%;
}
.nav__brand{
    transform: translateY(3px);
}
.nav__brand > img{
    height: 50px;
}
.nav__item{
    border-bottom: 1px solid var(--color-border);
    font-weight: 300;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding-bottom: 0.5rem;
}
.nav__item:last-child{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.nav__item >a{
    color: #fff;
    opacity: 0.8;
    transition: opacity 0.2s;
}
.nav__item >a:hover{
    opacity: 1;
}


@media screen and (min-width:771px){
    .nav{
       align-items: center;
    }
    .nav__taggler{
        display: none;
    }
    .nav__list{
        width: auto;
        display: flex;
        margin: 0;
        margin-top: 0.8rem;
        margin-right: 0.5rem
    }
    .nav__brand{
        transform: none;
    }
    .nav__item{
        border-bottom: none;
    }
    .nav__item > a{
        font-size: 1.8rem;
    }
}

/* collapsible */
.collapsible{
    background: #000;
}
.collapsible__heading{
    margin-bottom: 0;
    color: #fff;
}
.collapsible__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.collapsible__content{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0.5rem 0;
    transition: all 0.3s;
}
.collapsible__chevron{
    transform: rotate(-90deg);
}
.collapsible__expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
    padding-bottom: 1rem;
}
.collapsible__expanded .collapsible__chevron{
    transform: rotate(0);
}